.form-container {
    margin: 1vw;
    padding: 1vw;
    padding-right: 25vw;
    background-image: url('../../images/tuba3d.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.msg {
    color: crimson;
    font-size: 150%;
}