.banner {
    background-image: url(../../../images/151642953.jpg);
    background-size: cover;
    padding-top: 70vh;
    height: 89vh;
}

.banner-h1 {
    color: crimson;
    padding: 1%;
}

.link {
    color: darkred;
}