.container {
    display: block;
    margin-top: 67vh;
}

.block {
    display: block;
    margin-top: 1vh;
}

.playlist-img-big {
    height: 60vh;
}

.playlist-img-small {
    height: 15vh;
    margin-right: 1vw;
}