.form-container {
  margin: 2vw;
  padding: 5vw;
  padding-right: 20vw;
  background-image: url('../../images/tuba3d.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}